@import "../../../styles.scss";

.products {
    padding: 0;
    position: relative;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, 250px);
    margin: auto;
    grid-row-gap: 0.5em;

    li {
        list-style: none;
    }

    .add-product {
        margin: 0.25em 0.25em 0 0.25em;
        width: 225px;
        background-color: $color-background-dark;
        border-radius: 10px;
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    @media(max-width: 577px) {
        max-width: 250px;
    }

    @media(min-width: 578px) {
        max-width: 500px;
    }

    @media(min-width: 830px) {
        max-width: 750px;
    }

    @media(min-width: 1078px) {
        max-width: 1000px;
    }
}