@import "../../../styles.scss";

nav {
    display: flex;
    min-height: 3rem;
    align-items: center;
    justify-content: flex-start;
    background-color: $color-background-dark;

    div {
        margin-right: 1em;
        
        &:first-child {
            margin-left: 1em;
            flex-grow: 1;
        }
    }

    .cart {
        display: flex;
        user-select: none;
        align-items: center;
        
        .counter {
            background-color: $color-primary;
            text-align: center;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            margin-right: $margin;
            border-radius: 50%;
        }
    }
}