<nav>
    <div><a [routerLink]="['/']" routerLinkActive="active">Garbage Gifts</a></div>
    <div *ngIf="isLoggedIn()" class="cart">
        <div *ngIf="totalItemsInCart() > 0" class="counter"><span>{{totalItemsInCart()}}</span></div>
        <a [routerLink]="['/cart']" routerLinkActive="active">
            <span><fa-icon [icon]="icons.faShoppingCart"></fa-icon> Cart</span>
        </a>
    </div>
    <div *ngIf="isLoggedIn()"><a [routerLink]="['/orders']" routerLinkActive="active">Orders</a></div>
    <div *ngIf="!isLoggedIn()"><a [routerLink]="['/login']" routerLinkActive="active">Login</a></div>
    <div *ngIf="isLoggedIn()" (click)="logout()"><a>Logout</a></div>
</nav>